
@import "reset";

.wrap{
    height: 100vh;
    display: flex;
    flex-direction: column;
    .header{
        height: 5rem;
        line-height: 5rem;
        font-size: 2.4rem;

        background-color: #18151a;

        flex-shrink: 0;

        color: #fff;

        text-align: center;
        position: relative;

        i{
            font-size: 2.4rem;

            position: absolute;
            right: 1rem;
            top: 1.2rem;
        }
    }

    .content{
        font-size: 1.4rem;
        line-height: 1.5;

        color: $secondary-text-color;

        flex-grow: 1;

        overflow-y: scroll;

        background-image: url("../img/bg.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;

        opacity: 0.7;
        filter:alpha(opacity = 70);

    }

    .footer{
        height: 6rem;
        font-size: 1.4rem;
        background-color: #18151a;

        flex-shrink: 0;

        display: flex;
        justify-content: space-around;
        align-items: stretch;

        a{
            border-left: 1px solid #fff;
            color: #fff;

            flex-grow: 1;
            text-align: center;

            padding: 0.5rem;

            &:first-child{
                border-left: none;
            }

            i{
                display: block;
                padding-bottom: 0.7rem;
                font-size: 2.4rem;
            }

        }



    }
}
